@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

.app {
  display: flex;

}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-display{
  display: flex;
  flex-direction: row;
}

.user-display button {
  cursor: pointer;
  height: 45px;
  padding: 15px 25px;
  border-radius: 5px;
  border-style: none;
  margin-left: 20px;
}

/*------ Login/Register ------*/


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .icon {
  height: 45px;
  width: 45px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color:#D65DB1;
  border-radius: 5px;
} */

.logo {
  width: 80vw;
  height: 100px;
  margin-bottom: 25px;
  background-image: url('https://t4.ftcdn.net/jpg/04/23/87/53/360_F_423875308_S4w1IW5aReFvYzMGt4bj98GgvEmVKHnd.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgb(43, 43, 63); */
  color: rgb(255, 255, 255);
  border-radius: 5px;

}

div.logo p {
  font-size: 40px;  
  margin: 0px;
  display: flex;
  height: 100px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-btn {  
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 5px;
  border-style: none;
  margin-left: 20px;
  color: #F9F7FF;
  background-color: #00B2C2;
}

.logout-btn {
  background-color: #00C9A7;
  color: white;
}


/*----- Nav -----*/

.logo-nav {
  display: flex;  
  align-items: center;
  flex-direction: column;
}

nav {
  width: 75vw;
  height: auto;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

nav a {
  border-radius: 50px;
  border: 1px solid #FF6F91;  
  background-color: #ffffff;
  color:  #FF6F91;
  padding: 1rem;
  width: 120px;
  text-decoration: none;
  transition: 0.3s;

}

.active {
  background-color: #A555EC;
  border: 1px solid #A555EC;
  color: white;

}


nav a:hover {
  background-color: #FF6F91;
  border: 1px solid #FF6F91;  

  color: white;
  box-shadow: 2px 5px 2px 1px rgb(233, 233, 233);
}

/*----- Main Body -----*/

.body-container {
  list-style-type: none;
  margin-top: 25px;
  width: 75vw;
  min-height: 40vh;
  border-radius: 5px;
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
/*----- Home -----*/

.home-container {

  width: 60vw;
  min-height: 40vh;
  text-align: center;
}
.home-img {
  max-width: 80%;;
  height: auto;
  /* clip-path: polygon(0 0, 100% 12%, 100% 76%, 0 100%); */
  clip-path: polygon(0 25%, 100% 12%, 100% 76%, 0 92%);

}

/*----- Activities -----*/

#activities-collection {
  font-size: 1rem;
}

#activities {
  padding: 0;
  list-style-type: none;
}

#activities>li {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 15px;;
  padding: 20px;
  margin: 20px;
}

#activities a {
  text-decoration: none;
  color: #A555EC;

}

#activities a:hover {
  text-decoration: underline;
}

#singleActivity, #singleRoutine {
  background-color: rgb(249, 249, 249);
  box-shadow: 2px 5px 2px 1px rgb(233, 233, 233);
  width: 60vw;
  border-radius: 15px;;
  min-height: 40vh;
  padding: 20px;
  margin: 20px;
}

#singleActivity a, #singleRoutine a {
  color: #8ee982;
  text-decoration: none;
}

/*----- Routines -----*/

#routines {
  padding: 0;
  list-style-type: none;
}

#routines li {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 15px;;
  padding: 20px;
  margin: 20px;
}

#routines a {
  text-decoration: none;
  color: #A555EC;
}

#routines a:hover {
  text-decoration: underline;
}

#singleRoutine li {
  list-style-type: circle;
}