@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;
  justify-content: center;
}

.app {
  display: flex;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-display{
  display: flex;
  flex-direction: row;
}

.user-display button {
  cursor: pointer;
  height: 45px;
  padding: 15px 25px;
  border-radius: 5px;
  border-style: none;
  margin-left: 20px;
}

/*------ Login/Register ------*/


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 45px;
  width: 45px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color:#FF9671;
  border-radius: 5px;
}

.logo {
  width: 80vw;
  height: 70px;
  margin-bottom: 25px;
  background-color: rgb(43, 43, 63);
  color: rgb(255, 255, 255);
  border-radius: 5px;

}

div.logo p {
  font-size: 40px;  
  margin: 0px;
  display: flex;
  height: 70px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login-btn {  
  cursor: pointer;
  padding: 15px 25px;
  border-radius: 5px;
  border-style: none;
  margin-left: 20px;
  color: #F9F7FF;
  background-color: #00B2C2;
}

.logout-btn {
  background-color: #00C9A7;
  color: white;
}


/*----- Nav -----*/

.logo-nav {
  display: flex;  
  align-items: center;
  flex-direction: column;
}

nav {
  width: 75vw;
  height: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

nav a {
  border-radius: 50px;
  border: 1px solid #FF6F91;  
  background-color: #ffffff;
  color:  #FF6F91;
  padding: 1rem;
  width: 120px;
  text-decoration: none;
  transition: 0.3s;

}

nav a:hover {
  background-color: #FF6F91;
  color: white;
  box-shadow: 2px 5px 2px 1px rgb(233, 233, 233);
}

/*----- Main Body -----*/

.body-container {
  list-style-type: none;
  margin-top: 25px;
  width: 75vw;
  min-height: 40vh;
  border-radius: 5px;
  background-color: #e5e5e5;
  border: 1px solid #bcbcbc;
}

/*----- Activities -----*/

#activities-collection {
  font-size: 1rem;
}

#activities {
  list-style-type: none;
}

#activities>li {
  /* background-color: greenyellow;
  border-radius: 1rem; */
  margin: 1rem;
}

#singleActivity {
  background-color: greenyellow;
  border-radius: 1rem;
  margin: 1rem;
}

/*----- Routines -----*/